.container {
  width: 100%;
  background-color: antiquewhite;
  /* background-image: url("./assets/linux-background.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
  make the background be in a div that is absolutely positioned and doesn't move
*/