@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html {
  font-family: 'Readex Pro', sans-serif;
}

body {
  background-color: hsl(0, 0%, 90%);
}

.container {
  width: 100%;
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-background {
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.default {
  background-image: url("https://media.giphy.com/media/JKpKiSZPrGBLl3SJso/giphy.gif");
}

.windows {
  background-image: url("./assets/img/windows-background.jpg");
}

.macos {
  background-image: url("./assets/img/macos-background.jpg");
}

.linux {
  background-image: url("./assets/img/linux-background.jpg");
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-icon {
  width: 64px;
  height: auto;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}